<div class="container p-1 mx-3 marco">
  <form>
    <div class="form-group">
      <label for="codigo">Código</label>
      <input type="text" class="form-control" />
    </div>
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" class="form-control" />
    </div>
    <div class="form-group">
      <label for="edad">Edad</label>
      <input type="number" class="form-control" />
    </div>
    <div class="form-group">
      <label for="opcion">Opción</label>
      <select class="form-control" name="" id="">
        <option value="">Uno</option>
        <option value="">Dos</option>
        <option value="">Tres</option>
      </select>
    </div>
    <label for="sexo">Sexo</label>
    <div class="form-group">
      <label for="hombre"
        ><input type="radio" class="mx-1" checked="true" />Hombre</label
      >
      <label for="mujer"><input type="radio" class="mx-1" />Mujer</label>
    </div>
    <div class="form-group">
      <label for="comentarios">Comentarios</label>
      <div class="textarea-btn-holder form-group form-group-replace">
        <textarea
          class="form-control text-comment"
          name="comentarios"
          id=""
          cols="30"
          rows="10"
        ></textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="activar"
        ><input class="mx-1" type="checkbox" checked="true" />Activar</label
      >
    </div>
    <button type="submit" class="btn btn-primary m-x-2">Submit</button>
  </form>
</div>
